.aside {
    position: sticky;
    top: 74px;
}

.skin {
    width: 280px;
    min-width: 280px;
    padding: 24px 16px;
}

.skin h1 {
    font-weight: bold;
    margin-bottom: 12px;
}

@media screen and (max-width: 1100px) {
    .skin {
        width: 100%;
        margin-top: 32px;
        margin-right: 0;
    }
}