.aside {
    position: sticky;
    top: 74px;
}

.skin {
    width: 280px;
    min-width: 280px;
    padding: 24px 16px;
}

.skin h1 {
    font-weight: bold;
    margin-bottom: 12px;
}

.placeholderTag li {
    width: 64px;
    background-color: var(--placeholder-color);
    border-color: var(--placeholder-color);
}

.placeholderTag li:nth-of-type(3n) {
    width: 120px;
}

@media screen and (max-width: 1100px) {
    .skin {
        width: 100%;
        margin-top: 32px;
        margin-right: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .skin {
        width: 282px;
        min-width: 282px;
        border: 1px solid #424242;
    }
}