.postTitle {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 56px 16px 64px;
}

.postTitle span {
    display: block;
    color: var(--light-grey);
    font-size: 16px;
}

.postsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.yearGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yearTitle {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    margin: 0 40px 8px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yearTitle::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--light-grey);
    margin-left: 16px;
}

.yearGroup > *:not(.yearTitle) {
    width: 40%;
    max-width: 420px;
    min-width: 320px;
    margin: 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.postDummy {
    width: calc(40%);
    min-width: calc(320px);
    height: 0;
}

.category {
    margin-top: 16px;
    margin-right: 48px;
}

.mobileCategory {
    display: none;
}

@media screen and (max-width: 1100px) {
    .category {
        display: none;
    }

    .mobileCategory {
        display: inline;
    }

    .postTitle {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 720px) {
    .yearGroup > *:not(.yearTitle) {
        width: 80%;
        padding-bottom: 4px;
        margin: 16px 0;
    }

    .postDummy {
        margin: 4px;
    }
}

@media screen and (max-width: 500px) {
    .yearGroup > *:not(.yearTitle) {
        width: 85%;
    }
}