.postTitle {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 56px 16px 64px;
}

.postTitle span {
    display: block;
    color: var(--light-grey);
    font-size: 16px;
}

.postsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.yearGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
}

.yearTitle {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 12px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.yearTitle::before {
    content: '';
    width: 2px;
    height: 1.2em;
    background-color: currentColor;
    margin-right: 16px;
}

.postCard {
    width: 40%;
    max-width: 420px;
    min-width: 320px;
    margin: 16px;
}

.postDummy {
    width: 40%;
    max-width: 420px;
    min-width: 320px;
    margin: 0 16px;
    height: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.postDummy {
    width: calc(40%);
    min-width: calc(320px);
    height: 0;
}

.category {
    margin-top: 16px;
    margin-right: 48px;
}

.mobileCategory {
    display: none;
}

@media screen and (max-width: 1685px) {
    .yearTitle {
        padding-left: calc((100% - 40% * 2 - 32px) / 2);
    }
}


@media screen and (max-width: 1100px) {
    .category {
        display: none;
    }

    .mobileCategory {
        display: inline;
    }

    .postTitle {
        padding-bottom: 24px;
    }

    .yearGroup {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 720px) {
    .postCard {
        width: 80%;
        max-width: none;
        padding-bottom: 4px;
        margin: 16px 0;
    }

    .postDummy {
        width: 80%;
        max-width: none;
        margin: 0;
    }

    .yearTitle {
        padding-left: calc((100% - 80% * 1) / 2);
    }
}

@media screen and (max-width: 500px) {
    .postCard {
        width: 85%;
    }

    .yearTitle {
        padding-left: calc((100% - 85% * 1) / 2);
    }
}