.header {
    padding-top: 80px;
    padding-bottom: 64px;
}

.title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.main {
}

.h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
