.list {
    width: 80vw;
    max-width: 800px;
    margin: 48px auto 40px;
}

.list li {
    position: relative;
    min-height: 80px;
    padding-bottom: 20px;
}

.list li:before {
    position: absolute;
    display: block;
    margin-top: 8px;
    height: 12px;
    width: 12px;
    background-color: #424242;
    border-radius: 6px;
    content: "";
}

.list li:after {
    position: absolute;
    top: 12px;
    left: 6px;
    bottom: -8px;
    width: 1px;
    background-color: #424242;
    content: "";
}

.list li:last-child:after {
    height: 40px;
}

.accordion summary {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion .arrow {
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    transform: translateY(-25%) rotate(45deg);
    content: '';
    transition: transform .3s;
}

.accordion[open] .arrow {
    transform: rotate(225deg);
}

.titleWrapper {
    display: flex;
    padding-left: 32px;
    padding-bottom: 16px;
}

.date {
    font-weight: bold;
    min-width: 80px;
    padding-right: 16px;
}

.title {
    font-weight: bold;
    white-space: pre-wrap;
    padding-right: 28px;
}

.content {
    padding-left: 32px;
    padding-bottom: 32px;
    line-height: 1.7;
    color: #424242;
}

.link {
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.link span {
    min-width: 13px;
    height: 13px;
    margin-top: 5px;
}