.list {
    margin-bottom: 48px;
}

.list li {
    position: relative;
    min-height: 72px;
}

.list li:before {
    position: absolute;
    display: block;
    margin-top: 8px;
    height: 12px;
    width: 12px;
    background-color: var(--grey);
    border-radius: 6px;
    content: "";
}

.list li:after {
    position: absolute;
    top: 12px;
    left: 6px;
    bottom: -8px;
    width: 1px;
    background-color: var(--grey);
    content: "";
}

.list li:last-child:after {
    height: 40px;
}

.accordion summary {
    position: relative;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion .arrow {
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    transform: translateY(-25%) rotate(45deg);
    content: '';
    transition: transform .3s;
}

.accordion[open] .arrow {
    transform: rotate(225deg);
}

.titleWrapper {
    display: flex;
    padding-left: 36px;
}

.date {
    color: var(--light-grey);
    font-weight: bold;
    min-width: 80px;
    padding-right: 16px;
}

.title {
    display: flex;
    font-weight: bold;
    white-space: pre-wrap;
    padding-right: 28px;
}

.title span {
    padding-left: 12px;
}

.title .icon {
    color: var(--light-grey);
}

.content {
    padding-top: 12px;
    padding-left: 32px;
    padding-bottom: 40px;
    line-height: 1.7;
    color: var(--text-grey);
}

.link {
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.icon {
    min-width: 13px;
    height: 13px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .titleWrapper {
        flex-direction: column;
    }

    .list li {
        min-height: 88px;
        padding-bottom: 32px;
    }

    .accordion .arrow {
        top: 32px;
    }

    .content {
        padding-bottom: 16px;
    }

    .link {
        margin-top: 12px;
    }
}