.list {
    margin-bottom: 40px;
}

.list li {
    position: relative;
    min-height: 80px;
}

.list li:before {
    position: absolute;
    display: block;
    margin-top: 8px;
    height: 12px;
    width: 12px;
    background-color: var(--grey);
    border-radius: 6px;
    content: "";
}

.list li:after {
    position: absolute;
    top: 12px;
    left: 6px;
    bottom: -8px;
    width: 1px;
    background-color: var(--grey);
    content: "";
}

.list li:last-child:after {
    height: 0;
}

.accordion {
    overflow: hidden;
}

.summary {
    position: relative;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    color: var(--text-grey);
    font-size: 24px;
    transition: transform 0.3s ease-out;
    transform: rotate(-90deg);
}

.accordion.open .content {
    opacity: 1;
}

.accordion.open .arrowIcon {
    transform: rotate(90deg);
}

.titleWrapper {
    display: flex;
    padding-left: 36px;
}

.date {
    color: var(--background-color);
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
    background-color: var(--text-grey);
    border-radius: 16px;
    max-width: max-content;
    height: 28px;
    margin-right: 20px;
}

.date--single {
    min-width: 80px;
}

.date--range {
    min-width: 148px;
}

.titleWrapper .icon {
    color: var(--text-grey);
}

.title {
    display: flex;
    font-weight: bold;
    white-space: pre-wrap;
    padding: 2px 0;
}

.title span {
    color: var(--text-color);
    text-decoration: none;
    padding-left: 16px;
    padding-right: 24px;
}

.content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.contentInner {
    padding-top: 16px;
    padding-left: 40px;
    padding-bottom: 48px;
    color: var(--text-grey);
}

.link {
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.icon {
    min-width: 13px;
    height: 13px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .titleWrapper {
        flex-direction: column;
    }

    .list li {
        min-height: 88px;
        padding-bottom: 32px;
    }

    .date {
        margin-bottom: 8px;
        font-size: 14px;
        height: 24px;
    }

    .date--range {
        min-width: 140px;
    }

    .arrow {
        top: 32px;
    }

    .contentInner {
        padding-bottom: 16px;
    }

    .link {
        margin-top: 12px;
    }
}