:root {
    --text-color: #000000;
    --background-color: #ffffff;
    --text-grey: #424242;
    --text-light-grey: #616161;
    --grey: #424242;
    --light-grey: #616161;
    --light-grey2: #424242;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff;
        --background-color: #161b22;
        --text-grey: #BDBDBD;
        --text-light-grey: #BDBDBD;
        --grey: #757575;
        --light-grey: #9E9E9E;
        --light-grey2: #BDBDBD;
    }
}
