.section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 56px 32px;
}

.h1 {
    margin-bottom: 24px;
    font-size: 18px;
}

.h2 {
    margin-bottom: 12px;
    color: var(--light-grey);
    padding-left: 12px;
    border-left: 5px solid #757575;
}

.pageTitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2;
    color: var(--text-color);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 56px 16px 64px;
    position: relative;
}

.pageTitle svg {
    transform: translateY(1px);
}

.tag li {
    display: inline-block;
    font-size: 12px;
    margin: 0 2px 6px;
    padding: 2px 10px;
    border: 1px solid var(--text-light-grey);
    border-radius: 24px;
    color: var(--text-light-grey);
    text-decoration: none;
    cursor: pointer;
    transition: .1s;
}

.tag li:hover {
    color: #fff;
    background-color: var(--light-grey);
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    position: relative !important;
    object-fit: contain;
}

.shadow {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0 4px 24px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

@media screen and (max-width: 500px) {
    .section {
        padding: 0 32px 32px;
    }

    .pageTitle {
        font-size: 28px;
        gap: 12px;
        padding: 48px 16px 56px;
    }

    .pageTitle svg {
        width: 32px;
        height: 32px;
    }
}