.tag li {
    display: inline-block;
    font-size: 12px;
    margin: 0 2px 6px;
    padding: 2px 10px;
    border: 1px solid var(--text-light-grey);
    border-radius: 24px;
    color: var(--text-light-grey);
    text-decoration: none;
    cursor: pointer;
    transition: .1s;
}

.tag li:hover {
    color: #fff;
    background-color: var(--light-grey);
}

.imageContainer {
    position: unset !important;
}

.imageContainer img {
    display: inline;
    position: relative !important;
    width: unset !important;
    height: 100% !important;
}

.shadow {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0 4px 24px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}