.tag li {
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    padding: 2px 10px;
    border: 1px solid #616161;
    border-radius: 24px;
    color: #616161;
    text-decoration: none;
    cursor: pointer;
    transition: .1s;
}

.tag li:hover {
    color: #fff;
    background-color: #616161;
}

.accordion summary {
    position: relative;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion .arrow {
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    transform: translateY(-25%) rotate(45deg);
    content: '';
    transition: transform .3s;
}

.accordion[open] .arrow {
    transform: rotate(225deg);
}