@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-w: 1000px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 100vw;
    height: 100%;
    margin: 0;
}

a {
    @apply underline text-blue-600 visited:text-purple-800
}

sup {
    @apply text-blue-600
}

#nprogress .bar {
    background: var(--light-grey) !important;
}

.no-scroll {
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    a {
        @apply underline text-blue-300 visited:text-purple-500
    }

    sup {
        @apply text-blue-300
    }
}