.header {
    padding-top: 80px;
    padding-bottom: 64px;
}

.section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 56px 32px;
}

.title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

.animate-pulse {

}

.subtitle {
    text-align: center;
    margin: 0 16px 16px;
}

.subtitle span::before {
    content: "/";
    margin: 0 12px;
    color: var(--light-grey);
    font-size: 12px;
}

.subtitle span:first-child::before {
    content: "";
    margin: 0;
}

.h1 {
    margin-bottom: 24px;
    font-size: 18px;
}

.h2 {
    margin-bottom: 12px;
    color: var(--light-grey);
    padding-left: 12px;
    border-left: 5px solid #757575;
}

.menuVisibility {
    display: initial;
}

.hamburgerVisibility {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.profileTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 48px 16px;
}

.profileTitle div {
    padding-bottom: 16px;
}

.postTitle {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 56px 16px 32px;
}

.postTitle span {
    display: block;
    color: var(--light-grey);
    font-size: 16px;
}

.postsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
}

.postsList > * {
    width: 40%;
    max-width: 420px;
    min-width: 320px;
    margin: 16px;
}

.postDummy {
    width: calc(40%);
    min-width: calc(320px);
    height: 0;
}

.category {
    margin-top: 16px;
    margin-right: 48px;
}

.mobileCategory {
    display: none;
}

@media screen and (max-width: 1700px) {
    .postsList > * {
        max-width: none;
    }
}

@media screen and (max-width: 1100px) {
    .category {
        display: none;
    }

    .mobileCategory {
        display: inline;
    }

    .postTitle {
        padding-bottom: 24px;
    }

    .menuVisibility {
        display: none;
    }

    .hamburgerVisibility {
        display: initial;
    }
}

@media screen and (max-width: 720px) {
    .postsList > * {
        width: 80%;
        padding-bottom: 4px;
        margin: 16px 0;
    }

    .postDummy {
        margin: 4px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding-top: 64px;
        padding-bottom: 48px;
    }

    .section {
        padding: 0 32px 32px;
    }

    .title {
        font-size: 48px;
    }

    .subtitle span::before {
        margin: 0 8px;
    }

    .postsList > * {
        width: 85%;
    }
}