.markdown table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 8px 0;
}


.markdown th, .markdown td {
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
    .markdown th, .markdown td {
        border: 1px solid #424242;
    }
}