.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 32px 56px;
}

.card {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0 4px 24px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.post {
    max-width: 1000px;
    padding: 32px 56px;
    margin-right: 56px;
    line-height: 1.9;
}

.post .title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.8;
}

.post h1 {
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: bold;
    line-height: 1.5;
    margin-top: 48px;
    margin-bottom: 8px;
}

.post h2 {
    font-weight: bold;
    line-height: 1.5;
    padding-top: 16px;
    margin-bottom: 8px;
}

.post p {
    white-space: pre-wrap;
    margin-bottom: 16px;
}

.post p:has(img) {
    white-space: normal;
    margin-bottom: 0;
}

.post .tag {
    padding-bottom: 16px;
}

.post ul:not(.tag) {
    list-style: disc;
    line-height: 1.5;
    margin-left: 20px;
}

.post li {
    margin-top: 16px;
}

.post li ul:not(.tag) {
    list-style: circle;
    margin-left: 24px;
}

.post a {
    word-break: break-all;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 8px;
    margin-bottom: 16px;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 12px;
    color: var(--light-grey);
}

.breadcrumb a {
    color: var(--text-color) !important;
}

.speakerDeck {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.speakerDeck iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.row {
    display: flex;
}

.rowLink {
    display: inline !important;
    height: 80px;
}

.rowLink a {
    position: relative;
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 16px 0;
}

.youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.post pre:has(code) {
    color: #fff;
    background-color: #282828;
    padding: 12px 24px;
    white-space: pre-wrap;
}

.post code {
    color: #000;
    background-color: #eff1f3;
    padding: 3px 6px;
    font-size: 14px;
    white-space: pre-wrap;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .post {
        margin-right: 0;
        max-width: 800px;
        padding: 32px 56px;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        padding: 24px 48px;
    }

    .post {
        padding: 32px;
    }

    .post .title {
        font-size: 24px;
    }

    .post h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 24px 8px 0;
    }

    .post {
        padding: 32px 16px;
    }

    .breadcrumb {
        margin-bottom: 14px;
    }
}

@media (prefers-color-scheme: dark) {
    .card {
        border: 2px solid #424242;
    }

    .post {
        border: 1px solid #424242;
    }

    .post h1 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .post code {
        color: #fff;
        background-color: #343942;
    }
}