.post {
    max-width: 800px;
    margin: 40px auto;
    line-height: 1.9;
}

.post h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
}

.post h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding: 40px 0 4px;
}

.post p {
    white-space: pre-wrap;
    margin-bottom: 16px;
}

.post .tag {
    padding-bottom: 24px;
}

.post ul {

}