.list {
    width: 80vw;
    max-width: 800px;
    margin: 48px auto 40px;
}

.list li {
    position: relative;
    min-height: 80px;
    line-height: 0.8;
}

.list li:before {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background-color: #424242;
    border-radius: 6px;
    content: "";
}

.list li:after {
    position: absolute;
    top: 12px;
    left: 6px;
    bottom: 0;
    width: 1px;
    background-color: #424242;
    content: "";
}

.list li:last-child:after {
    height: 32px;
}

.accordion summary {
    display: flex;
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion .arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    transform: translateY(-25%) rotate(45deg);
    content: '';
    transition: transform .3s;
}

.accordion[open] .arrow {
    transform: rotate(225deg);
}

.titleWrapper {
    display: flex;
    padding-left: 32px;
    padding-bottom: 16px;
}

.date {
    min-width: 80px;
    padding-right: 16px;
}

.title {
    white-space: pre-wrap;
}

.content {
    padding-left: 32px;
    padding-bottom: 64px;
    line-height: normal;
    font-weight: 300;
    color: #424242;
}

.link {
    display: flex;
    font-size: 14px;
    margin-top: 20px;
}

.link span {
    width: 13px;
    height: 13px;
    margin-top: 5px;
}