.list li {
    position: relative;
    min-height: 72px;
    line-height: 0.8;
}

.list li:before {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background-color: #424242;
    border-radius: 6px;
    content: "";
}

.list li:after {
    position: absolute;
    top: 12px;
    left: 6px;
    bottom: 0;
    width: 1px;
    background-color: #424242;
    content: "";
}

.list li:last-child:after {
    height: 32px;
}

.titleWrapper {
    display: flex;
    padding-left: 32px;
    padding-bottom: 16px;
}

.date {
    padding-right: 16px;
}

.title {
    white-space: pre-wrap;
}

.content {
    padding-left: 32px;
    padding-bottom: 56px;
    line-height: normal;
    font-weight: 300;
}

.link {
    font-weight: 300;
    font-size: 14px;
}

.link span {
    font-size: 12px;
    color: #424242;
}