.header {
    padding-top: 80px;
    padding-bottom: 64px;
}

.section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 56px 64px;
}

.title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.h1 {
    margin-bottom: 24px;
    font-size: 20px;
}

.h2 {
    margin-bottom: 12px;
    color: #616161;
    padding-left: 12px;
    border-left: 5px solid #757575;
}

@media screen and (max-width: 500px) {
    .header {
        padding-top: 64px;
        padding-bottom: 48px;
    }

    .section {
        padding: 0 32px 64px;
    }

    .title {
        font-size: 48px;
    }
}