.tag {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 20px;
    width: 82%;
    scrollbar-width: none;
}

.tag::-webkit-scrollbar {
    display: none;
}

.placeholder li {
    width: 88px;
    background-color: var(--placeholder-color);
    border-color: var(--placeholder-color);
}