.title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

.cursor {
    animation: blink 1s infinite;
    font-size: 0.8em;
    position: relative;
    top: -0.2em;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}