.qrCodeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    perspective: 1000px;
}

.qrCode {
    position: relative;
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: contain;
    background: linear-gradient(180deg, #FFFFFF, #EEEEEE);
    border-radius: 32px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 80px rgba(0, 0, 0, 0.1), 0 0 120px rgba(0, 0, 0, 0.1);
}

.qrCode img {
    padding: 32px;
}

.qrCodeText {
    font-family: "DotGothic16", sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 12px;
}