.list {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.button + .button {
    margin-left: 12px;
}

.button a {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    line-height: 1.0;
}

.github {
    color: #000000;
}

.qiita .qiitaSvg {
    fill: #55C500;
}

.speakerDeck {
    color: #038C7F;
}