.list {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.button {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.button + .button {
    margin-left: 12px;
}

.button a {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    line-height: 1.0;
}

.github {
    color: var(--text-color);
}

.qiita .qiitaSvg {
    fill: #55C500;
}

.speakerDeck {
    color: #038C7F;
}

.linkedIn {
    position: relative;
    color: #0e76a8;
    width: 30px;
    height: 30px;
    border-radius: 0;
    margin-top: -2px;
    z-index: 1;
}

.linkedInBackground {
    position: absolute;
    background-color: white;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    z-index: -1;
}

.linkedIn * {
}

.bookLog {
    color: #52b8db;
    width: 27px;
    height: 27px;
}

.connpass {
    position: relative;
}
